html{
    font-size: 62.5%;
}
body{
    font-size: 16px;  /*1rem = 10px*/
}
h1{
    text-align: center; /*Esta propiedad sirve para alinear el texto de forma horizontal*/
    font-size: 3.8rem;
}
span{
    font-size: 2rem;
}
