:root{ /*Pseudo elemento que sirve para guardar las custon propierties/ propiedades personalizadas*/
    --blanco: #FFFFFF;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
}

html{
    font-size: 62.5%;
}
body{
    font-size: 16px;  /*1rem = 10px*/
}
.titulo{
    text-align: center; /*Esta propiedad sirve para alinear el texto de forma horizontal*/
    font-size: 3.8rem;
}
.titulo span{
    font-size: 2rem;
}
